<mat-card>
  Total distance Traveled for the fleet: {{totalDistance}} <!--this techiclly can be recaculated an displayed at anytime however for the timebeing it is OnInnit-->
</mat-card>
<!-- This will loop for each entry in the divisions array within the test file. each loop will re-caculate and display the total kms for that division-->
<mat-card *ngFor="let divis of data.divisions">
  Distance traveled for {{divis.title}} division: {{caculateKM(divis.title)}}
</mat-card>
<!--the div is only to controll the looping, if more control was required, it can be added to the divs with *ngIf()-->
<div id="page" *ngFor="let car of data.fleet">
  <mat-card>
    <mat-card-header>
      Rego: {{car.registration}}
    </mat-card-header>
    <mat-card-content>
      Total Traveled: {{car.kilometers_travelled}} <br> <!-- took me a while to realise /n didnt work in html-->
      Division: {{car.division}}
    </mat-card-content>
  </mat-card>
</div>
